
body
{
  background-color: #95e1d3;
}

h1
{
  color: blue;
}
h2
{
  color: grey;
}
h3
{
  color: green;
}
hr
{
  border background-color: white;
  color:pink ;
  border-top-style: dotted;
width: 35%;
}
